.BeerItem__controls {
    padding: 0 0 20px 10px;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BeerItem__controls :first-child {
    padding-left: 25px;
}

.BeerItem__controls :last-child {
    padding-right: 25px;
}

.MainPage .BeerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.MainPage .BeerItem__logo {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.MainPage .BeerItem__about {
    width: 100%;
    background-color: #585858;
    color: #e2e2e2;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.MainPage .BeerItem__title {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    font-size: 1.8em;
}

.MainPage .BeerItem__tag-line {
    margin-top: 0;
    font-size: 1em;
    padding: 10px 10px 10px 10px;
}

/*Styles for favorites page*/
.FavoritesPage .BeerItem {
    width: 80vw;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 2px 0 #585858;
    margin-bottom: 20px;
    justify-content: space-between;
}

.FavoritesPage .BeerItem__about {
    width: 80%;
    height: fit-content;
}

.FavoritesPage .BeerItem__logo {
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
}

.FavoritesPage .BeerItem__info {
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 80%;
}

.FavoritesPage .BeerItem__title {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    font-size: 1.8em;
}

.FavoritesPage .BeerItem__tag-line {
    margin-top: 0;
    color: #686868;
    font-size: 0.8em;
    padding: 10px 10px 10px 10px;
}

.FavoritesPage .BeerItem__desc {
    font-size: 0.8em;
    padding: 10px 10px 10px 10px;
}

.FavoritesPage .BeerItem__controls {
    color: #000000;
}

@media (min-width: 2048px) {
    .MainPage .BeerItem {
        width: 17%;
    }
}

@media (min-width: 1200px) and (max-width: 2047px) {
    .MainPage .BeerItem {
        width: 22%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .MainPage .BeerItem {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .MainPage .BeerItem {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .MainPage .BeerItem {
        width: 90%;
    }

    /*Styles for favorites page*/
    .FavoritesPage .BeerItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }

    .FavoritesPage .BeerItem__logo {
        order: 1;
        width: 30%;
        height: 150px;
    }

    .FavoritesPage .BeerItem__info {
        order: 2;
    }
}
