.BeerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.BeerItem__logo {
    width: 200px;
    height: 200px;
}

.BeerItem__info {
    background-color: #585858;
    color: #e2e2e2;
    width: 100%;
}

.BeerItem__title {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    font-size: 1.8em;
}

.BeerItem__tag-line {
    margin-top: 0;
    font-size: 1em;
    padding: 10px 10px 10px 10px;
}

.BeerItem__controls {
    padding: 30px 0 20px 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;;
}


/*Styles for favorites page*/
.BeerItem_favorites {
    width: 80vw;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 2px 0 #585858;
    margin-bottom: 20px;
    justify-content: space-between;
}

.BeerItem__logo_favorites {
    order: 2;
    width: 50%;
    min-width: 50px;
}

.BeerItem__info_favorites {
    order: 1;
}


.BeerItem__title_favorites {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    font-size: 1.8em;
}

.BeerItem__tag-line_favorites {
    margin-top: 0;
    color: #686868;
    font-size: 0.8em;
    padding: 10px 10px 10px 10px;
}

.BeerItem__desc_favorites {
    font-size: 0.8em;
    padding: 10px 10px 10px 10px;
}

.BeerItem__controls_favorites {
    padding: 0 0 20px 10px;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #000000;
}

@media (min-width: 2048px) {
    .BeerItem {
        width: 17%;
    }
}


@media (min-width: 1200px) and (max-width: 2047px) {
    .BeerItem {
        width: 22%;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .BeerItem {
        width: 30%;
    }
}


@media (max-width: 767px) {
    .BeerItem {
        width: 45%;
    }
}


@media (max-width: 480px) {
    .BeerItem {
        width: 90%;
    }

    /*Styles for favorites page*/
    .BeerItem_favorites {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }

    .BeerItem__logo_favorites {
        order: 1;
        width: 50%;
    }

    .BeerItem__info_favorites {
        order: 2;
    }
}
