.NavLink {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    border: 0;
    background-color: inherit;
    font-size: 1.2rem;
}

.NavLink__img {
    width: 24px;
    height: 24px;
}

.NavLink__title {
    background-color: inherit;
    border: 0;
    color: #b7b7b7;
    font-size: 1.2rem;
    padding-left: 5px;
}

.NavLink__title:hover {
    color: #ffffff;
}
