.BeerButton {
    background: inherit;
    border: none;
    font-size: inherit;
    color: inherit;
    text-transform: uppercase;
}

.BeerButton:hover {
    color: #ffffff;
}

.BeerButton:focus {
    outline: none;
}

.FavoritesPage .BeerButton:hover {
    color: #8b8b8b;
}
