.BeerList {
    margin-top: 100px;

}

.MainPage .BeerList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.FavoritesPage .BeerList {
    display: flex;
    flex-direction: column;
}
